footer{
    background-color: #264653;
    min-height: 10vh;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-top: 0;


    ul{
        display: flex;
        justify-content: space-between;
        flex:1;
        align-content: center;

        li img{
            max-height: 30px;
        }
    }
    h5{
        flex: 4;
        color: #A8DADC;
        font-size: 1rem;
        text-align: left;
        transition: all 1s ease;
    }

    h5:hover{
        font-size: 1.2rem;
        color: #e76f51;
    }
}